@import "tailwindcss";
@config "../tailwind.config.ts";

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {

  :root {
    --background: 190 33% 95%;
    --foreground: 190 5% 10%;
    --card: 190 33% 90%;
    --card-foreground: 190 5% 15%;
    --popover: 190 33% 95%;
    --popover-foreground: 190 95% 10%;
    --primary: 190 60% 29%;
    --primary-foreground: 0 0% 100%;
    --secondary: 190 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 152 30% 85%;
    --muted-foreground: 190 5% 40%;
    --accent: 152 30% 80%;
    --accent-foreground: 190 5% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 190 5% 90%;
    --border: 190 33% 90%;
    --input: 190 30% 50%;
    --ring: 190 60% 29%;
    --radius: 0.5rem;
    --chart-1: 190 65% 29%;
    --chart-2: 190 70% 35%;
  }

  .dark {
    --background: 217 34% 10%;
    --foreground: 217 5% 90%;
    --card: 217 34% 10%;
    --card-foreground: 217 5% 90%;
    --popover: 217 34% 5%;
    --popover-foreground: 217 5% 90%;
    --primary: 217 21% 46%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 179 30% 20%;
    --muted-foreground: 217 5% 60%;
    --accent: 179 30% 20%;
    --accent-foreground: 217 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 217 5% 90%;
    --border: 217 30% 20%;
    --input: 217 30% 20%;
    --ring: 217 21% 46%;
    --radius: 0.5rem;
  }

}

@layer base {

  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}