@import "tailwindcss";
@config "../tailwind.config.ts";

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 208 33% 95%;
    --foreground: 208 5% 10%;
    --card: 208 33% 90%;
    --card-foreground: 208 5% 15%;
    --popover: 208 33% 95%;
    --popover-foreground: 208 95% 10%;
    --primary: 208 60% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 208 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 170 30% 85%;
    --muted-foreground: 208 5% 40%;
    --accent: 170 30% 80%;
    --accent-foreground: 208 5% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 208 5% 90%;
    --border: 208 33% 90%;
    --input: 208 30% 50%;
    --ring: 208 100% 55%;
    --radius: 1rem;
    --radius-xl: 1.5rem;
    --chart-1: 208 60% 55%;
    --chart-2: 208 50% 50%;
    --gradient-light: rgba(174, 226, 238, 1);
    --gradient-dark: rgba(148, 187, 233, 1);

    --base-first-color: #9bf8f4;
    --base-second-color: #6f7bf7;
  }

  .dark {
    --background: 200 5% 11%;
    --foreground: 217 5% 90%;
    --card: 195 6% 14%;
    --card-foreground: 217 5% 90%;
    --popover: 217 34% 5%;
    --popover-foreground: 217 5% 90%;
    --primary: 217 21% 46%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 179 30% 20%;
    --muted-foreground: 217 5% 60%;
    --accent: 179 30% 20%;
    --accent-foreground: 217 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 217 5% 90%;
    --border: 197 6% 23%;
    --input: 217 30% 20%;
    --ring: 217 21% 46%;
    --chart-1: 217 15% 46%;
    --chart-2: 217 19% 46%;
    --gradient-light: #1b1d1d;
    --gradient-dark: #222526;

    --base-first-color: #1b1d1d;
    /* --base-first-color: #0e0e11; */
    --base-second-color: #2d3031;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  g > text {
    fill: hsl(var(--foreground));
  }
}
